<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GOD.Properties.Settings>
            <setting name="RefreshRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MonitoredProcess" serializeAs="String">
                <value>ica.exe</value>
            </setting>
            <setting name="MemoryUsageLimit" serializeAs="String">
                <value>15000</value>
            </setting>
        </GOD.Properties.Settings>
    </userSettings>
</configuration>