<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOD_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <GOD.Properties.Settings>
            <setting name="歌" serializeAs="String">
                <value>You're my sunshine, my only sunshine
You make me happy when skies are grey
You'll never know dear, how much i love you
Please don't take my sunshine away
</value>
            </setting>
        </GOD.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GOD_Console.Properties.Settings>
            <setting name="歌" serializeAs="String">
                <value>

You're my sunshine, my only sunshine
You make me happy when skies are grey
You'll never know dear, how much i love you
Please don't take my sunshine away

</value>
            </setting>
        </GOD_Console.Properties.Settings>
    </userSettings>
</configuration>